.container {
  margin: 2%; }

.row {
  margin: 2% 0 2% 0; }

button {
  border-radius: 5px;
  text-decoration: none;
  border: none;
  cursor: pointer; }

.btn-active {
  background-color: #ffc107 !important; }
  .btn-active > a {
    color: black !important; }

.btn-green {
  background-color: #28a745 !important;
  width: 35px;
  height: 40px !important;
  margin-right: 15px;
  font-size: 1.5rem; }

a {
  text-decoration: none;
  color: white; }

a:visited {
  color: white; }

a:hover {
  text-decoration: underline; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.icon {
  cursor: pointer; }

.icon-active {
  color: black !important; }

.icon-user-plus {
  color: #28a745;
  font-size: 2rem;
  margin-left: 20px; }

.icon-header {
  font-size: 1rem !important; }

.icon-left-circle,
.icon-right-circle,
.icon-cog-active,
.icon-cog {
  font-size: 1.5rem; }

.icon-cog {
  color: white; }

/* HEADER */
#main-nav {
  display: flex;
  justify-content: center;
  background-color: #6c757d !important;
  padding: 1.5%;
  color: white; }

main {
  flex-wrap: nowrap; }
  main #btn-categories > ul {
    display: flex;
    justify-content: center; }
    main #btn-categories > ul > li > button {
      margin: 0 10px 0 10px;
      height: 40px !important;
      background-color: #6c757d;
      padding: 10px; }
  main .wrapper-cols #knowledge-categories {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 20px 0; }
    @media screen and (max-width: 980px) {
      main .wrapper-cols #knowledge-categories {
        overflow-x: scroll;
        width: 500%; } }
    main .wrapper-cols #knowledge-categories > section {
      flex-basis: 20%; }
      @media screen and (max-width: 980px) {
        main .wrapper-cols #knowledge-categories > section > article > footer > button {
          width: 40%; } }
      main .wrapper-cols #knowledge-categories > section > header {
        display: flex;
        justify-content: space-around; }
        @media screen and (max-width: 980px) {
          main .wrapper-cols #knowledge-categories > section > header {
            justify-content: flex-start; } }
      main .wrapper-cols #knowledge-categories > section .card-question {
        display: flex;
        flex-flow: nowrap column;
        background-color: #6c757d;
        color: white;
        margin: 10px 0;
        padding: 15px;
        justify-content: space-between;
        border-radius: 7px; }
        main .wrapper-cols #knowledge-categories > section .card-question > header {
          display: flex;
          justify-content: space-between;
          flex-basis: 30%;
          margin-bottom: 10px; }
        main .wrapper-cols #knowledge-categories > section .card-question > footer {
          display: flex;
          justify-content: space-around; }
          main .wrapper-cols #knowledge-categories > section .card-question > footer > button {
            width: 60%;
            height: 40px !important; }
          main .wrapper-cols #knowledge-categories > section .card-question > footer > .icon-cog {
            font-size: 2rem;
            height: 40px !important; }

.footer {
  display: flex;
  justify-content: center;
  background-color: #6c757d !important;
  color: white;
  padding: 1% 0 1% 0;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px; }

/* TITLES */
h1 {
  font-size: 2rem !important; }

h2 {
  font-size: 2rem !important; }

h3 {
  font-size: 2rem !important; }

h4 {
  font-size: 2rem !important; }

/*# sourceMappingURL=memosass.css.map */
