.row {
    margin: 2% 0 2% 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

/* HEADER */
#main-nav {
    display: flex;
    justify-content: center;
    background-color: #6c757d !important;
    padding: 1.5%;
    color: white;
}
.icon-user-plus {
    color: green;
    font-size: 2rem;
    margin-left: 20px;
}
.icon-cog-col {
    color: black;
}

main {
    flex-wrap: nowrap;
}

.container {
    margin: 2%;
}

#wrapper-cols {
    /* display: flex; */
}

#btn-categories > ul {
    display: flex;
    justify-content: center;
}
#btn-categories > ul > li > button {
    border-radius: 5px;
    margin: 0 10px 0 10px;
    height: 40px !important;
    background-color: #6c757d;
    padding: 10px;
}
#btn-categories > ul > li >button > a {
    color: white;
}
#btn-categories > ul > li >button > a:hover {
    text-decoration: underline;
}
.btn-active {
    background-color: #ffc107 !important;
}

.btn-green {
    background-color: #28a745 !important;
    width: 35px;
    height: 40px !important;
    border-radius: 5px;
    margin-right: 15px;
    text-decoration: none;
}

#knowledge-categories {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 20px 0;
}
#knowledge-categories > section {
    flex-basis: 20%;
}
#knowledge-categories > section > header {
    display: flex;
    justify-content: space-around;
}
.card-question {
    display: flex;
    flex-flow: nowrap column;
    background-color: #6c757d;
    color: white;
    margin: 10px 0;
    padding: 15px;
    justify-content: space-between;
    border-radius: 7px;
}
.card-question > header {
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
    margin-bottom: 10px;
}
.card-question > footer {
    display: flex;
    justify-content: space-around;
}
.card-question > footer > button {
    width: 60%;
    height: 40px !important;
}
.card-question > footer > .icon-cog {
    font-size: 2rem;
    height: 40px !important;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #6c757d !important;
    color: white;
    padding: 1% 0 1% 0;
    position: fixed;
    background-color: red;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

/* TITLES */

h1 {
    font-size: 2rem !important;
}
h2 {
    font-size: 2rem !important;
}
h3 {
    font-size: 2rem !important;
}
h4 {
    font-size: 2rem !important;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

@media screen and (max-width: 980px) {
    #knowledge-categories {
        overflow-x: scroll;
        width: 500%;
        /* justify-content: inherit; */
    }
    #knowledge-categories > section {
    }
    #knowledge-categories > section > header {
        justify-content: flex-start;
    }
    #knowledge-categories > section > article > footer > button {
        width: 40%;
    }
}

@media screen and (max-width: 980px) {
    #wrapper-cols section {
        /* width: 400vw; */
    }
}